<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>Crud</display-name>
    <servlet>
    	<description>
    	</description>
    	<display-name>RegistroServlet</display-name>
    	<servlet-name>RegistroServlet</servlet-name>
    	<servlet-class>com.crud.servlet.RegistroServlet</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Mostrar</display-name>
    	<servlet-name>Mostrar</servlet-name>
    	<servlet-class>com.crud.servlet.Mostrar</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Eliminar</display-name>
    	<servlet-name>Eliminar</servlet-name>
    	<servlet-class>com.crud.servlet.Eliminar</servlet-class>
    </servlet>
    <servlet>
    	<description>
    	</description>
    	<display-name>Update</display-name>
    	<servlet-name>Update</servlet-name>
    	<servlet-class>com.crud.servlet.Update</servlet-class>
    </servlet>
    <servlet-mapping>
    	<servlet-name>RegistroServlet</servlet-name>
    	<url-pattern>/RegistroServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Mostrar</servlet-name>
    	<url-pattern>/Mostrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Eliminar</servlet-name>
    	<url-pattern>/Eliminar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>Update</servlet-name>
    	<url-pattern>/Update</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        </welcome-file-list>
    </web-app>
